.error {
  text-align: center;
  margin: 100px 0 200px;
}

.error h1 {
  font-size: 50px;
  font-weight: normal;
  color: red;
}

.icon {
  font-size: 45px;
  margin-right: 2rem;
  transform: translateY(4px);
}
